/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    color: #333;
    background: linear-gradient(to right, #e6c5ab, rgb(193, 104, 62));
}

.container{
    background-color: #fff;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12 px rgba(0, 0, 0, 0,5);
}

.cabeçalho {
    text-align: center;
    margin-bottom: 24px;
}

.cabeçalho img{
    width: 200px;
    margin: 0 auto;
}

.cabeçalho h1{
    background-color: antiquewhite;
    font-size: 1.4rem;
    margin-top: 10px;
    border: 2px solid rgb(188, 129, 90)
}

.feiture-img{
    margin: 20px 0;
}

.feiture-img figure img{
    width: 100%;
}

figcaption {
    text-align: center;
}

h2{
    background-color: rgb(249, 232, 211);
    border-left: 2px solid rgb(188, 129, 90);
    padding: 12px;
    margin: 20px auto;
    font-size: 1.8rem;
}